
#inputText{
  padding:5px;
  margin:5px;
  flex-grow:3;
}

#inputButton{
  margin:10px;
  flex-grow: 1;
}

.iconbar{
  margin-left: 5px;
  margin-right : 5px;
  justify-content: space-evenly;
}

.row{
  margin-left: 5px;
  margin-right : 5px
}

.fileInput{
  display:none;
}
